In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('salary_data_cleaned.csv')

In [3]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,avg_salary,company_txt,job_state,same_state,age,python_yn,R_yn,spark,aws,excel
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,72.0,Tecolote Research\n,NM,0,47,1,0,0,0,1
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,87.5,University of Maryland Medical System\n,MD,0,36,1,0,0,0,0
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,85.0,KnowBe4\n,FL,1,10,1,0,1,0,1
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,76.5,PNNL\n,WA,1,55,1,0,0,0,0
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,114.5,Affinity Solutions\n,NY,1,22,1,0,0,0,1

In [4]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer_provided', 'min_salary', 'max_salary', 'avg_salary',
       'company_txt', 'job_state', 'same_state', 'age', 'python_yn', 'R_yn',
       'spark', 'aws', 'excel'],
      dtype='object')

SALARY PARSING
COMPANY NAME TEXT ONLY 
STATIC FIELD
AGE OF COMPANY
PARSING OF JOB DESCRIPTION

In [46]:
df = df[df['Salary Estimate'] != '-1']

In [47]:
df

                                             Job Title  \
0                                       Data Scientist
1                            Healthcare Data Scientist
2                                       Data Scientist
3                                       Data Scientist
4                                       Data Scientist
5                                       Data Scientist
6                                       Data Scientist
7                                       Data Scientist
8                                   Research Scientist
9                                       Data Scientist
10                                      Data Scientist
11                                      Data Scientist
12                   Staff Data Scientist - Technology
13                                        Data Analyst
14                                      Data Scientist
15                                     Data Engineer I
16                             Scientist I/II, Biology
17                             Customer Data Scientist
18              Data Scientist - Health Data Analytics
19                                      Data Scientist
20                                      Data Scientist
21            Senior Data Scientist / Machine Learning
22                       Data Scientist - Quantitative
23                                      Data Scientist
24                                      Data Scientist
25                       Digital Health Data Scientist
26                                      Data Scientist
27                              Associate Data Analyst
28                             Clinical Data Scientist
29                                      Data Scientist
30                                      Data Scientist
31                                      Data Scientist
32            Data Scientist / Machine Learning Expert
33                                      Data Scientist
34                                      Data Scientist
35                                    Web Data Analyst
36                                      Data Scientist
37                                      Data Scientist
38                               Senior Data Scientist
39                                       Data Engineer
40                                        Data Analyst
41                                       Data Engineer
42             Data Scientist - Algorithms & Inference
43                                           Scientist
44                               Senior Data Scientist
45                                      Data Scientist
46                                 Lead Data Scientist
47                              Associate Data Analyst
48                         Spectral Scientist/Engineer
49   College Hire - Data Scientist - Open to Decemb...
50                                      Data Scientist
51              Data Scientist, Office of Data Science
52                                Data Science Analyst
53                                      Data Scientist
54                                      Data Scientist
55                                      Data Scientist
56                                      Data Scientist
57                                      Data Scientist
58                                      Data Scientist
59                                      Data Scientist
60                               Senior Data Scientist
61                                      Data Scientist
62                          Senior Risk Data Scientist
63   Data Scientist in Artificial Intelligence Earl...
64                                      Data Scientist
65                                      Data Scientist
66                                      Data Scientist
67                           Data Scientist - Research
68                                      Data Scientist
69                         R&D Data Analysis Scientist
70                                Analytics Consultant
71                              Director, Data Science
72                                           Scientist
73                                   Data Scientist SR
74                                      Data Scientist
75                               R&D Sr Data Scientist
76         Customer Data Scientist/Sales Engineer (Bay
77                                  Research Scientist
78                                      Data Scientist
79                                      Data Scientist
80                                      Data Scientist
81                           Jr. Business Data Analyst
82                                      Data Scientist
83                                        Data Analyst
84                                       Data Engineer
85                                        Data Analyst
86                   Staff Data Scientist - Technology
87                                      Data Scientist
88                                      Data Scientist
89                          Data Management Specialist
90                             E-Commerce Data Analyst
91                                    Sr. Scientist II
92                            Insurance Data Scientist
93                                        Data Modeler
94                            Data Analyst / Scientist
95                                           Scientist
96                                      Data Scientist
97                                      Data Scientist
98                                        Data Analyst
99                                 Lead Data Scientist
100                                     Data Scientist
101                                     Data Scientist
102                    Data Scientist, Rice University
103                              Senior Data Scientist
104                                      Data Engineer
105                              Senior Data Scientist
106                             Financial Data Analyst
107                                Senior Data Analyst
108                                 Research Scientist
109                                     Data Scientist
110                                      Data Engineer
111                                     Data Scientist
112                                     Data Scientist
113                                     Data Scientist
114                                      Data Engineer
115                                  Ag Data Scientist
116                                     Data Scientist
117                                      Data Engineer
118                                  Data Scientist II
119                               Senior Data Engineer
120                                     Data Scientist
121                                     Data Scientist
122                                      Data Engineer
123                                      Data Engineer
124                                       Data Analyst
125                                  Project Scientist
126                                     Data Scientist
127                             Data Analytics Manager
128  Senior Machine Learning (ML) Engineer / Data S...
129                                     Data Scientist
130                              Senior Data Scientist
131                                     Data Scientist
132                                Associate Scientist
133                       Scientist 2, QC Viral Vector
134                          Machine Learning Engineer
135                         Data Scientist/ML Engineer
136                                     Data Scientist
137                            Customer Data Scientist
138                                      Data Engineer
139                                      Data Engineer
140                                 Sr. Data Scientist
141                         Data Engineer 4 - Contract
142                    Data Analyst - Asset Management
143  Senior Research Scientist - Embedded System De...
144                    Data Scientist - Bioinformatics
145                                      Data Engineer
146             Customer Data Scientist/Sales Engineer
147                                Lead Data Scientist
148                           MongoDB Data Engineer II
149                   Senior Data Scientist Statistics
150                                Senior Data Analyst
151               Senior Spark Engineer (Data Science)
152                                      Data Engineer
153                    BI & Platform Analytics Manager
154                                Lead Data Scientist
155  Sr. Data Scientist - Analytics, Personalized H...
156                              Senior Data Scientist
157  Pricipal Scientist Molecular and cellular biol...
158               Data Scientist (Actuary, FSA or ASA)
159                               Staff Data Scientist
160           Senior Data Scientist / Machine Learning
161             Data Scientist - Health Data Analytics
162                Data Engineer 5 - Contract (Remote)
163                    Senior Scientist - Neuroscience
164                                Senior Data Analyst
165                              Medical Lab Scientist
166              Risk and Analytics IT, Data Scientist
167                  Scientist, Analytical Development
168                              Senior Data Scientist
169                                  Analytics Manager
170                                      Data Engineer
171         Digital Marketing & ECommerce Data Analyst
172  Sr. Scientist - Digital & Image Analysis/Compu...
173                                Senior Data Analyst
174                 Principal Scientist - Immunologist
175                              Senior Data Scientist
176  Principal Data Scientist with over 10 years ex...
177                MED TECH/LAB SCIENTIST - LABORATORY
178  Sr. Scientist, Quantitative Translational Scie...
179                              Sr. Data Scientist II
180                     Excel / VBA / SQL Data Analyst
181                Machine Learning Research Scientist
182                                   VP, Data Science
183                              Senior Data Scientist
184                                 Radar Data Analyst
185                   PL Actuarial-Lead Data Scientist
186                                       PV Scientist
187           Senior Data & Machine Learning Scientist
188  Principal Data Scientist (Computational Chemis...
189                                      Data Engineer
190        Principal Scientist, Chemistry & Immunology
191             Software Engineer - Data Visualization
192             Scientist/Senior Scientist, Autoimmune
193                    Staff Machine Learning Engineer
194                    Principal Scientist, Hematology
195                                 Lead Data Engineer
196                             Marketing Data Analyst
197                       Medical Laboratory Scientist
198                     R&D Specialist/ Food Scientist
199         Senior Research Scientist-Machine Learning
200                      Analytics Manager - Data Mart
201        Sr. Data Engineer - Contract-to-Hire (Java)
202          MED TECH/LAB SCIENTIST- SOUTH COASTAL LAB
203                         Food Scientist - Developer
204     Staff Scientist-Downstream Process Development
205                                  Sr. Data Engineer
206                      Data Scientist - Quantitative
207                                     Data Scientist
208       Senior Research Statistician- Data Scientist
209                         Business Data Analyst, SQL
210  Medical Technologist / Clinical Laboratory Sci...
211                                     Data Scientist
212                                Senior Data Analyst
213                    BI & Platform Analytics Manager
214                                      Data Engineer
215                                     Data Scientist
216                                       Data Analyst
217        Associate Data Scientist/Computer Scientist
218          Business Intelligence Analyst / Developer
219                                Lead Data Scientist
220  Sr. Data Scientist - Analytics, Personalized H...
221                              Senior Data Scientist
222                                       Data Analyst
223  Pricipal Scientist Molecular and cellular biol...
224                                       Data Analyst
225                                       Data Analyst
226                               Staff Data Scientist
227               Data Scientist (Actuary, FSA or ASA)
228                            System and Data Analyst
229                                     Data Scientist
230                Data Engineer 5 - Contract (Remote)
231                      Digital Health Data Scientist
232                                     Data Scientist
233                  Data & Analytics Consultant (NYC)
234                    Senior Scientist - Neuroscience
235                                      Data Engineer
236   Big Data Engineer - Chicago - Future Opportunity
237                                Senior Data Analyst
238                                     Data Scientist
239                                Survey Data Analyst
240                                     Data Scientist
241                                     Data Scientist
242              Risk and Analytics IT, Data Scientist
243                                     Data Scientist
244               Lead Health Data Analyst - Front End
245                                 Research Scientist
246                              Medical Lab Scientist
247                                Junior Data Analyst
248                                  SQL Data Engineer
249                                     Data Scientist
250                              Senior Data Scientist
251                                     Data Scientist
252                  Scientist, Analytical Development
253                                  Analytics Manager
254                            Clinical Data Scientist
255                                     Data Scientist
256     Sr. Data Scientist, Cyber-Security LT Contract
257                                      Data Engineer
258                                     Data Scientist
259  Sr. Scientist - Digital & Image Analysis/Compu...
260         Digital Marketing & ECommerce Data Analyst
261                 Principal Scientist - Immunologist
262                                Senior Data Analyst
263                   Insurance Financial Data Analyst
264                                     Data Scientist
265                                     Data Scientist
266  Principal Data Scientist with over 10 years ex...
267                                      Data Engineer
268                              Senior Data Scientist
269                            Data Engineer I - Azure
270  Sr. Scientist, Quantitative Translational Scie...
271                MED TECH/LAB SCIENTIST - LABORATORY
272                              Sr. Data Scientist II
273                                     Data Scientist
274                  Information Security Data Analyst
275                     Excel / VBA / SQL Data Analyst
276                Machine Learning Research Scientist
277                                     Data Scientist
278                                     Data Scientist
279                                     Data Scientist
280                                     Data Scientist
281                              Senior Data Scientist
282                             Data Scientist, Senior
283                              Senior Data Scientist
284                                   VP, Data Science
285                                 Radar Data Analyst
286                   CONSULTANTâ€“ DATA ANALYTICS GROUP
287                                      Data Engineer
288                              Senior Data Scientist
289  Data Engineer, Data Engineering and Artifical ...
290                                    Staff Scientist
291                   PL Actuarial-Lead Data Scientist
292  Associate Scientist/Scientist, Process Analyti...
293                                   Sr. Data Analyst
294           Senior Data & Machine Learning Scientist
295                               Program/Data Analyst
296                                      Data Engineer
297  Senior Data Scientist: Causal & Predictive ana...
298  Principal Data Engineer, Data Platform & Insights
299             RESEARCH SCIENTIST - BIOLOGICAL SAFETY
300                               Data Operations Lead
301                                  Big Data Engineer
302           Data Scientist / Machine Learning Expert
303                                     Data Scientist
304                              Senior Data Scientist
305                                       PV Scientist
306                              Clinical Data Analyst
307                                      Data Engineer
308               Computational Chemist/Data Scientist
309                                      Data Engineer
310  Principal Data Scientist (Computational Chemis...
311                    Product Engineer â€“ Data Science
312        Principal Scientist, Chemistry & Immunology
313             Scientist/Senior Scientist, Autoimmune
314                                     Data Scientist
315                                Market Data Analyst
316             Software Engineer - Data Visualization
317                                      Data Engineer
318                                Staff Data Engineer
319                            Associate Data Engineer
320                              Senior Data Scientist
321                         Staff BI and Data Engineer
322                             Marketing Data Analyst
323                    Principal Scientist, Hematology
324                                       Data Analyst
325         Director - Data, Privacy and AI Governance
326                                     Data Scientist
327                                     Data Scientist
328                    Staff Machine Learning Engineer
329                  Information Security Data Analyst
330                                 Lead Data Engineer
331   Scientist Manufacturing - Kentucky BioProcessing
332                     Data Analytics Project Manager
333                  Consultant - Analytics Consulting
334                                      Data Engineer
335                             Marketing Data Analyst
336                    Senior Scientist (Neuroscience)
337                       Medical Laboratory Scientist
338             Machine Learning Engineer - Regulatory
339                     R&D Specialist/ Food Scientist
340                                      Data Engineer
341                            Scientist, Bacteriology
342  Associate Director, Platform and DevOps- Data ...
343         Senior Research Scientist-Machine Learning
344                              Senior Data Scientist
345                      Clinical Laboratory Scientist
346                      Analytics Manager - Data Mart
347        Sr. Data Engineer - Contract-to-Hire (Java)
348            Data Scientist - Algorithms & Inference
349               Senior Data Scientist - R&D Oncology
350                                      Data Engineer
351                         Food Scientist - Developer
352                              Senior Data Scientist
353                                      Data Engineer
354          Director II, Data Science - GRM Actuarial
355            Scientist, Molecular/Cellular Biologist
356     Staff Scientist-Downstream Process Development
357          MED TECH/LAB SCIENTIST- SOUTH COASTAL LAB
358                    Scientist - Analytical Services
359  Associate Data Analyst- Graduate Development P...
360                                  Sr. Data Engineer
361                    Senior Insurance Data Scientist

In [48]:
salary = df['Salary Estimate'].apply(lambda x:x.split('(')[0])

In [49]:
salary

0                                     $53K-$91K
1                                    $63K-$112K
2                                     $80K-$90K
3                                     $56K-$97K
4                                    $86K-$143K
5                                    $71K-$119K
6                                     $54K-$93K
7                                    $86K-$142K
8                                     $38K-$84K
9                                   $120K-$160K
10                                  $126K-$201K
11                                   $64K-$106K
12                                  $106K-$172K
13                                    $46K-$85K
14                                   $83K-$144K
15                                  $102K-$190K
16                                   $67K-$137K
17                                  $118K-$189K
18                                  $110K-$175K
19                                   $64K-$111K
20                                   $81K-$130K
21                                   $73K-$119K
22                                   $86K-$139K
23                                   $63K-$105K
24                                  $109K-$177K
25                                   $63K-$110K
26                                   $75K-$124K
27                                    $34K-$61K
28                                   $63K-$105K
29                                    $80K-$90K
30                                    $56K-$97K
31                                   $72K-$120K
32                                   $86K-$143K
33                                   $93K-$149K
34                                   $85K-$140K
35                                   $77K-$135K
36                                   $82K-$132K
37                                   $83K-$137K
38                                  $115K-$180K
39                                   $74K-$138K
40                                   $64K-$112K
41                                   $68K-$129K
42                                  $110K-$175K
43                                   $52K-$113K
44                                   $110K-$150K
45          Employer Provided Salary:$150K-$160K
46                                  $158K-$211K
47                                    $20K-$39K
48                                   $56K-$117K
49                                    $63K-$99K
50                                   $68K-$114K
51                                   $86K-$143K
52                                    $41K-$95K
53                                   $86K-$144K
54                                   $80K-$139K
55                                    $56K-$95K
56                                  $120K-$189K
57                                  $111K-$176K
58                                    $54K-$93K
59                                   $71K-$119K
60                                   $82K-$132K
61                                   $84K-$146K
62                                  $107K-$172K
63                                    $49K-$85K
64                                   $61K-$109K
65                                   $88K-$148K
66                                    $60K-$99K
67                                    $41K-$72K
68                                   $96K-$161K
69                                   $65K-$130K
70                                    $52K-$81K
71                                  $139K-$220K
72                                   $50K-$102K
73                                   $85K-$139K
74                                   $74K-$122K
75                                   $99K-$157K
76                                   $79K-$222K
77                                   $57K-$118K
78                                   $83K-$137K
79                                   $86K-$141K
80                                   $94K-$154K
81                                    $37K-$76K
82                                  $100K-$160K
83                                   $55K-$100K
84                                   $60K-$114K
85                                    $39K-$68K
86                                  $106K-$172K
87                                   $86K-$142K
88                                   $64K-$107K
89                                    $31K-$65K
90                                    $34K-$62K
91                                  $117K-$231K
92                                   $64K-$106K
93                                   $79K-$134K
94                                    $52K-$93K
95                                   $55K-$116K
96                                   $72K-$123K
97                                   $74K-$124K
98                                    $40K-$73K
99                                  $102K-$164K
100                                  $89K-$153K
101                                  $61K-$110K
102                                  $65K-$110K
103                                  $200K-$275K
104                                  $68K-$123K
105                                  $80K-$129K
106                                   $41K-$72K
107                                   $39K-$71K
108                                   $38K-$85K
109                                 $121K-$193K
110                                  $54K-$102K
111                                  $83K-$144K
112                                 $120K-$160K
113                                 $102K-$163K
114                                  $76K-$140K
115                                  $60K-$101K
116                                  $82K-$133K
117                                  $65K-$125K
118                                  $91K-$148K
119                                  $95K-$173K
120                                  $77K-$124K
121                                  $80K-$135K
122                                  $85K-$159K
123                                   $80K-$105K
124                                   $43K-$81K
125                                   $29K-$50K
126                                  $82K-$133K
127                                   $26K-$55K
128                                  $61K-$118K
129                                  $60K-$102K
130                                 $112K-$182K
131                                  $64K-$106K
132                                  $51K-$112K
133                                 $113K-$223K
134                                  $72K-$129K
135                                  $71K-$123K
136                                  $64K-$106K
137                                 $118K-$189K
138         Employer Provided Salary:$120K-$145K
139                                  $80K-$120K
140                                  $80K-$130K
141                                  $59K-$115K
142                                  $71K-$136K
143                                  $81K-$167K
144                                   $49K-$85K
145                                  $60K-$114K
146                                  $71K-$204K
147                                  $75K-$125K
148                                  $77K-$136K
149                                  $74K-$123K
150                                   $44K-$78K
151                                  $65K-$148K
152                                  $59K-$110K
153                                  $85K-$134K
154                                 $124K-$204K
155                                 $131K-$207K
156                                 $110K-$174K
157                                  $52K-$101K
158                                  $81K-$133K
159                                 $132K-$211K
160                                  $73K-$119K
161                                 $110K-$175K
162                                  $74K-$140K
163                                 $100K-$190K
164                                   $43K-$80K
165                             $17-$24 Per Hour
166                                  $91K-$149K
167                                   $42K-$82K
168                                 $116K-$185K
169                                  $59K-$116K
170                                   $48K-$95K
171                                   $31K-$72K
172                                 $105K-$198K
173                                  $55K-$100K
174                                  $98K-$182K
175                                  $73K-$124K
176         Employer Provided Salary:$200K-$250K
177                             $21-$34 Per Hour
178                                 $117K-$206K
179                                 $111K-$183K
180                                   $44K-$78K
181                                  $81K-$159K
182                                  $83K-$166K
183                                 $114K-$182K
184                                   $42K-$76K
185                                 $114K-$179K
186                                  $60K-$123K
187                                 $100K-$166K
188                                 $108K-$173K
189                                   $48K-$93K
190                                  $54K-$115K
191                                  $60K-$127K
192                                  $90K-$179K
193                                 $138K-$224K
194                                  $54K-$115K
195                                  $190K-$220K
196                                   $35K-$62K
197                             $18-$25 Per Hour
198                                   $39K-$66K
199                                  $81K-$167K
200                                   $42K-$86K
201                                  $69K-$127K
202                             $21-$34 Per Hour
203                                   $40K-$68K
204                                  $49K-$113K
205                                  $75K-$140K
206                                  $86K-$139K
207                                  $66K-$112K
208                                  $76K-$125K
209                                   $44K-$86K
210                             $15-$25 Per Hour
211                                   $53K-$92K
212                                   $44K-$78K
213                                  $85K-$134K
214                                  $59K-$110K
215                                  $64K-$111K
216                                  $65K-$120K
217                                  $60K-$103K
218                                  $53K-$105K
219                                 $124K-$204K
220                                 $131K-$207K
221                                 $110K-$174K
222                                   $33K-$62K
223                                  $52K-$101K
224                                   $48K-$90K
225                                   $34K-$64K
226                                 $132K-$211K
227                                  $81K-$133K
228                                   $42K-$76K
229                                  $66K-$111K
230                                  $74K-$140K
231                                  $63K-$110K
232                                  $63K-$105K
233                                  $91K-$138K
234                                 $100K-$190K
235                                  $62K-$114K
236                                  $71K-$129K
237                                   $43K-$80K
238                                  $74K-$119K
239                                   $55K-$97K
240                                    $15K-$16K
241                                  $61K-$106K
242                                  $91K-$149K
243                                 $127K-$199K
244                                  $74K-$126K
245                                   $33K-$72K
246                             $17-$24 Per Hour
247                                   $37K-$63K
248                                  $67K-$119K
249                                  $72K-$117K
250                                 $116K-$185K
251                                  $78K-$126K
252                                   $42K-$82K
253                                  $59K-$116K
254                                  $63K-$105K
255                                 $109K-$177K
256                                 $116K-$194K
257                                   $48K-$95K
258                                  $83K-$133K
259                                 $105K-$198K
260                                   $31K-$72K
261                                  $98K-$182K
262                                  $55K-$100K
263                                   $45K-$82K
264                                  $83K-$135K
265                                  $70K-$122K
266         Employer Provided Salary:$200K-$250K
267                                  $70K-$132K
268                                  $73K-$124K
269                                  $54K-$101K
270                                 $117K-$206K
271                             $21-$34 Per Hour
272                                 $111K-$183K
273                                  $68K-$112K
274                                   $42K-$74K
275                                   $44K-$78K
276                                  $81K-$159K
277                                  $95K-$161K
278                                  $75K-$124K
279                                  $72K-$120K
280                                  $76K-$126K
281                                 $114K-$182K
282                                 $108K-$176K
283                                 $130K-$208K
284                                  $83K-$166K
285                                   $42K-$76K
286                                   $37K-$68K
287                                   $52K-$99K
288                                 $105K-$173K
289                                  $71K-$134K
290                                   $39K-$82K
291                                 $114K-$179K
292                                  $88K-$162K
293                                  $60K-$102K
294                                 $100K-$166K
295                                   $55K-$99K
296                                  $67K-$117K
297                                  $92K-$150K
298                                 $116K-$209K
299                                   $38K-$82K
300           Employer Provided Salary:$85K-$90K
301                                  $62K-$119K
302                                  $86K-$143K
303                                  $93K-$149K
304                                  $84K-$136K
305                                  $60K-$123K
306                                   $52K-$89K
307                                   $48K-$93K
308                                   $56K-$97K
309                                  $65K-$119K
310                                 $108K-$173K
311                                  $63K-$101K
312                                  $54K-$115K
313                                  $90K-$179K
314                                 $127K-$202K
315                                   $31K-$57K
316                                  $60K-$127K
317                                  $75K-$143K
318                                 $105K-$194K
319                                   $45K-$86K
320                                  $95K-$154K
321                                  $80K-$148K
322                                   $36K-$62K
323                                  $54K-$115K
324                                   $50K-$92K
325                                  $67K-$135K
326                                  $82K-$132K
327                                  $85K-$140K
328                                 $138K-$224K
329                                   $42K-$80K
330                                  $190K-$220K
331                                  $68K-$139K
332                                   $34K-$92K
333                                   $54K-$71K
334                                  $65K-$124K
335                                   $35K-$62K
336                                 $109K-$200K
337                             $18-$25 Per Hour
338                                  $61K-$113K
339                                   $39K-$66K
340                                   $43K-$86K
341                                  $74K-$149K
342                                 $113K-$196K
343                                  $81K-$167K
344                                  $97K-$160K
345                             $24-$39 Per Hour
346                                   $42K-$86K
347                                  $69K-$127K
348                                 $110K-$175K
349                                 $102K-$172K
350                                  $74K-$124K
351                                   $40K-$68K
352                                 $108K-$171K
353                                  $76K-$142K
354                                 $202K-$306K
355                                   $49K-$97K
356                                  $49K-$113K
357                             $21-$34 Per Hour
358                                  $65K-$134K
359                                   $32K-$59K
360                                  $87K-$158K
361                                 $107K-$173K
362                                   $56K-$99K
363    Employer Provided Salary:$25-$28 Per Hour
364                                  $80K-$155K
365                                   $43K-$98K
366                                   $45K-$78K
367                                   $44K-$96K
368                                  $50K-$110K
369                                  $61K-$119K
370         Employer Provided Salary:$100K-$140K
371                                   $56K-$91K
372                                  $68K-$114K
373         Employer Provided Salary:$150K-$160K
374                                 $101K-$158K
375                                 $125K-$210K
376                                   $43K-$77K
377                                 $139K-$221K
378                                   $44K-$86K
379                                  $78K-$147K
380                                  $65K-$110K
381                                   $37K-$66K
382                                   $38K-$64K
383                                   $43K-$82K
384                                   $90K-$110K
385                                  $61K-$109K
386                                  $93K-$151K
387                                   $52K-$81K
388                                  $40K-$101K
389                                  $97K-$180K
390                                  $81K-$134K
391                                  $84K-$157K
392                                  $49K-$113K
393                                  $68K-$139K
394                                  $75K-$140K
395                                 $121K-$203K
396                                   $52K-$85K
397                                  $81K-$140K
398                                   $63K-$99K
399                                  $110K-$150K
400                                  $83K-$148K
401                                  $60K-$101K
402                                   $31K-$55K
403                                 $102K-$178K
404         Employer Provided Salary:$110K-$130K
405                                   $48K-$85K
406                                  $66K-$123K
407                                  $92K-$146K
408                             $21-$29 Per Hour
409                             $10-$17 Per Hour
410                                 $150K-$239K
411                                   $52K-$91K
412                                   $82K-$129K
413                                  $47K-$101K
414                                   $49K-$76K
415                                   $43K-$88K

In [67]:
minus_Kd = salary.apply(lambda x:x.replace('K','').replace('$',''))

In [68]:
minus_Kd

0                                       53-91
1                                      63-112
2                                       80-90
3                                       56-97
4                                      86-143
5                                      71-119
6                                       54-93
7                                      86-142
8                                       38-84
9                                     120-160
10                                    126-201
11                                     64-106
12                                    106-172
13                                      46-85
14                                     83-144
15                                    102-190
16                                     67-137
17                                    118-189
18                                    110-175
19                                     64-111
20                                     81-130
21                                     73-119
22                                     86-139
23                                     63-105
24                                    109-177
25                                     63-110
26                                     75-124
27                                      34-61
28                                     63-105
29                                      80-90
30                                      56-97
31                                     72-120
32                                     86-143
33                                     93-149
34                                     85-140
35                                     77-135
36                                     82-132
37                                     83-137
38                                    115-180
39                                     74-138
40                                     64-112
41                                     68-129
42                                    110-175
43                                     52-113
44                                     110-150
45            Employer Provided Salary:150-160
46                                    158-211
47                                      20-39
48                                     56-117
49                                      63-99
50                                     68-114
51                                     86-143
52                                      41-95
53                                     86-144
54                                     80-139
55                                      56-95
56                                    120-189
57                                    111-176
58                                      54-93
59                                     71-119
60                                     82-132
61                                     84-146
62                                    107-172
63                                      49-85
64                                     61-109
65                                     88-148
66                                      60-99
67                                      41-72
68                                     96-161
69                                     65-130
70                                      52-81
71                                    139-220
72                                     50-102
73                                     85-139
74                                     74-122
75                                     99-157
76                                     79-222
77                                     57-118
78                                     83-137
79                                     86-141
80                                     94-154
81                                      37-76
82                                    100-160
83                                     55-100
84                                     60-114
85                                      39-68
86                                    106-172
87                                     86-142
88                                     64-107
89                                      31-65
90                                      34-62
91                                    117-231
92                                     64-106
93                                     79-134
94                                      52-93
95                                     55-116
96                                     72-123
97                                     74-124
98                                      40-73
99                                    102-164
100                                    89-153
101                                    61-110
102                                    65-110
103                                    200-275
104                                    68-123
105                                    80-129
106                                     41-72
107                                     39-71
108                                     38-85
109                                   121-193
110                                    54-102
111                                    83-144
112                                   120-160
113                                   102-163
114                                    76-140
115                                    60-101
116                                    82-133
117                                    65-125
118                                    91-148
119                                    95-173
120                                    77-124
121                                    80-135
122                                    85-159
123                                     80-105
124                                     43-81
125                                     29-50
126                                    82-133
127                                     26-55
128                                    61-118
129                                    60-102
130                                   112-182
131                                    64-106
132                                    51-112
133                                   113-223
134                                    72-129
135                                    71-123
136                                    64-106
137                                   118-189
138           Employer Provided Salary:120-145
139                                    80-120
140                                    80-130
141                                    59-115
142                                    71-136
143                                    81-167
144                                     49-85
145                                    60-114
146                                    71-204
147                                    75-125
148                                    77-136
149                                    74-123
150                                     44-78
151                                    65-148
152                                    59-110
153                                    85-134
154                                   124-204
155                                   131-207
156                                   110-174
157                                    52-101
158                                    81-133
159                                   132-211
160                                    73-119
161                                   110-175
162                                    74-140
163                                   100-190
164                                     43-80
165                             17-24 Per Hour
166                                    91-149
167                                     42-82
168                                   116-185
169                                    59-116
170                                     48-95
171                                     31-72
172                                   105-198
173                                    55-100
174                                    98-182
175                                    73-124
176           Employer Provided Salary:200-250
177                             21-34 Per Hour
178                                   117-206
179                                   111-183
180                                     44-78
181                                    81-159
182                                    83-166
183                                   114-182
184                                     42-76
185                                   114-179
186                                    60-123
187                                   100-166
188                                   108-173
189                                     48-93
190                                    54-115
191                                    60-127
192                                    90-179
193                                   138-224
194                                    54-115
195                                    190-220
196                                     35-62
197                             18-25 Per Hour
198                                     39-66
199                                    81-167
200                                     42-86
201                                    69-127
202                             21-34 Per Hour
203                                     40-68
204                                    49-113
205                                    75-140
206                                    86-139
207                                    66-112
208                                    76-125
209                                     44-86
210                             15-25 Per Hour
211                                     53-92
212                                     44-78
213                                    85-134
214                                    59-110
215                                    64-111
216                                    65-120
217                                    60-103
218                                    53-105
219                                   124-204
220                                   131-207
221                                   110-174
222                                     33-62
223                                    52-101
224                                     48-90
225                                     34-64
226                                   132-211
227                                    81-133
228                                     42-76
229                                    66-111
230                                    74-140
231                                    63-110
232                                    63-105
233                                    91-138
234                                   100-190
235                                    62-114
236                                    71-129
237                                     43-80
238                                    74-119
239                                     55-97
240                                      15-16
241                                    61-106
242                                    91-149
243                                   127-199
244                                    74-126
245                                     33-72
246                             17-24 Per Hour
247                                     37-63
248                                    67-119
249                                    72-117
250                                   116-185
251                                    78-126
252                                     42-82
253                                    59-116
254                                    63-105
255                                   109-177
256                                   116-194
257                                     48-95
258                                    83-133
259                                   105-198
260                                     31-72
261                                    98-182
262                                    55-100
263                                     45-82
264                                    83-135
265                                    70-122
266           Employer Provided Salary:200-250
267                                    70-132
268                                    73-124
269                                    54-101
270                                   117-206
271                             21-34 Per Hour
272                                   111-183
273                                    68-112
274                                     42-74
275                                     44-78
276                                    81-159
277                                    95-161
278                                    75-124
279                                    72-120
280                                    76-126
281                                   114-182
282                                   108-176
283                                   130-208
284                                    83-166
285                                     42-76
286                                     37-68
287                                     52-99
288                                   105-173
289                                    71-134
290                                     39-82
291                                   114-179
292                                    88-162
293                                    60-102
294                                   100-166
295                                     55-99
296                                    67-117
297                                    92-150
298                                   116-209
299                                     38-82
300             Employer Provided Salary:85-90
301                                    62-119
302                                    86-143
303                                    93-149
304                                    84-136
305                                    60-123
306                                     52-89
307                                     48-93
308                                     56-97
309                                    65-119
310                                   108-173
311                                    63-101
312                                    54-115
313                                    90-179
314                                   127-202
315                                     31-57
316                                    60-127
317                                    75-143
318                                   105-194
319                                     45-86
320                                    95-154
321                                    80-148
322                                     36-62
323                                    54-115
324                                     50-92
325                                    67-135
326                                    82-132
327                                    85-140
328                                   138-224
329                                     42-80
330                                    190-220
331                                    68-139
332                                     34-92
333                                     54-71
334                                    65-124
335                                     35-62
336                                   109-200
337                             18-25 Per Hour
338                                    61-113
339                                     39-66
340                                     43-86
341                                    74-149
342                                   113-196
343                                    81-167
344                                    97-160
345                             24-39 Per Hour
346                                     42-86
347                                    69-127
348                                   110-175
349                                   102-172
350                                    74-124
351                                     40-68
352                                   108-171
353                                    76-142
354                                   202-306
355                                     49-97
356                                    49-113
357                             21-34 Per Hour
358                                    65-134
359                                     32-59
360                                    87-158
361                                   107-173
362                                     56-99
363    Employer Provided Salary:25-28 Per Hour
364                                    80-155
365                                     43-98
366                                     45-78
367                                     44-96
368                                    50-110
369                                    61-119
370           Employer Provided Salary:100-140
371                                     56-91
372                                    68-114
373           Employer Provided Salary:150-160
374                                   101-158
375                                   125-210
376                                     43-77
377                                   139-221
378                                     44-86
379                                    78-147
380                                    65-110
381                                     37-66
382                                     38-64
383                                     43-82
384                                     90-110
385                                    61-109
386                                    93-151
387                                     52-81
388                                    40-101
389                                    97-180
390                                    81-134
391                                    84-157
392                                    49-113
393                                    68-139
394                                    75-140
395                                   121-203
396                                     52-85
397                                    81-140
398                                     63-99
399                                    110-150
400                                    83-148
401                                    60-101
402                                     31-55
403                                   102-178
404           Employer Provided Salary:110-130
405                                     48-85
406                                    66-123
407                                    92-146
408                             21-29 Per Hour
409                             10-17 Per Hour
410                                   150-239
411                                     52-91
412                                     82-129
413                                    47-101
414                                     49-76
415                                     43-88
416                                   124-199
417                                     52-93
418                                    97-181
419                                   100-173
420                                     53-96
421                                     65-96
422                                     56-95
423                                   111-176
424                                    75-127
425                                    65-119
426                                     56-97
427                                   108-173
428                                    94-139
429                                   176-289
430                                    92-149
431                                    63-101
432                                    54-115
433                                   118-188

In [69]:
df['hourly'] = df['Salary Estimate'].apply(lambda x:1 if 'per hour' in x.lower() else 0)

In [70]:
df['employer_provided'] = df['Salary Estimate'].apply(lambda x:1 if 'employer provided salary' in x.lower() else 0)

In [71]:
min_hr = minus_Kd.apply(lambda x:x.lower().replace('per hour','').replace('employer provided salary:',''))

In [77]:
df['min_salary'] = min_hr.apply(lambda x:int(x.split('-')[0]))

In [78]:
df['min_salary']

0       53
1       63
2       80
3       56
4       86
5       71
6       54
7       86
8       38
9      120
10     126
11      64
12     106
13      46
14      83
15     102
16      67
17     118
18     110
19      64
20      81
21      73
22      86
23      63
24     109
25      63
26      75
27      34
28      63
29      80
30      56
31      72
32      86
33      93
34      85
35      77
36      82
37      83
38     115
39      74
40      64
41      68
42     110
43      52
44     110
45     150
46     158
47      20
48      56
49      63
50      68
51      86
52      41
53      86
54      80
55      56
56     120
57     111
58      54
59      71
60      82
61      84
62     107
63      49
64      61
65      88
66      60
67      41
68      96
69      65
70      52
71     139
72      50
73      85
74      74
75      99
76      79
77      57
78      83
79      86
80      94
81      37
82     100
83      55
84      60
85      39
86     106
87      86
88      64
89      31
90      34
91     117
92      64
93      79
94      52
95      55
96      72
97      74
98      40
99     102
100     89
101     61
102     65
103    200
104     68
105     80
106     41
107     39
108     38
109    121
110     54
111     83
112    120
113    102
114     76
115     60
116     82
117     65
118     91
119     95
120     77
121     80
122     85
123     80
124     43
125     29
126     82
127     26
128     61
129     60
130    112
131     64
132     51
133    113
134     72
135     71
136     64
137    118
138    120
139     80
140     80
141     59
142     71
143     81
144     49
145     60
146     71
147     75
148     77
149     74
150     44
151     65
152     59
153     85
154    124
155    131
156    110
157     52
158     81
159    132
160     73
161    110
162     74
163    100
164     43
165     17
166     91
167     42
168    116
169     59
170     48
171     31
172    105
173     55
174     98
175     73
176    200
177     21
178    117
179    111
180     44
181     81
182     83
183    114
184     42
185    114
186     60
187    100
188    108
189     48
190     54
191     60
192     90
193    138
194     54
195    190
196     35
197     18
198     39
199     81
200     42
201     69
202     21
203     40
204     49
205     75
206     86
207     66
208     76
209     44
210     15
211     53
212     44
213     85
214     59
215     64
216     65
217     60
218     53
219    124
220    131
221    110
222     33
223     52
224     48
225     34
226    132
227     81
228     42
229     66
230     74
231     63
232     63
233     91
234    100
235     62
236     71
237     43
238     74
239     55
240     15
241     61
242     91
243    127
244     74
245     33
246     17
247     37
248     67
249     72
250    116
251     78
252     42
253     59
254     63
255    109
256    116
257     48
258     83
259    105
260     31
261     98
262     55
263     45
264     83
265     70
266    200
267     70
268     73
269     54
270    117
271     21
272    111
273     68
274     42
275     44
276     81
277     95
278     75
279     72
280     76
281    114
282    108
283    130
284     83
285     42
286     37
287     52
288    105
289     71
290     39
291    114
292     88
293     60
294    100
295     55
296     67
297     92
298    116
299     38
300     85
301     62
302     86
303     93
304     84
305     60
306     52
307     48
308     56
309     65
310    108
311     63
312     54
313     90
314    127
315     31
316     60
317     75
318    105
319     45
320     95
321     80
322     36
323     54
324     50
325     67
326     82
327     85
328    138
329     42
330    190
331     68
332     34
333     54
334     65
335     35
336    109
337     18
338     61
339     39
340     43
341     74
342    113
343     81
344     97
345     24
346     42
347     69
348    110
349    102
350     74
351     40
352    108
353     76
354    202
355     49
356     49
357     21
358     65
359     32
360     87
361    107
362     56
363     25
364     80
365     43
366     45
367     44
368     50
369     61
370    100
371     56
372     68
373    150
374    101
375    125
376     43
377    139
378     44
379     78
380     65
381     37
382     38
383     43
384     90
385     61
386     93
387     52
388     40
389     97
390     81
391     84
392     49
393     68
394     75
395    121
396     52
397     81
398     63
399    110
400     83
401     60
402     31
403    102
404    110
405     48
406     66
407     92
408     21
409     10
410    150
411     52
412     82
413     47
414     49
415     43
416    124
417     52
418     97
419    100
420     53
421     65
422     56
423    111
424     75
425     65
426     56
427    108
428     94
429    176
430     92
431     63
432     54
433    118
434    108
435     65
436     55
437     94
438     63
439     90
440    127
441     60
442     31
443    105
444     45
445     75
446    126
447     80
448    120
449     85
450     95
451    111
452     87
453     76
454     54
455     61
456     81
457     80
458    108
459    112
460     63
461     75
462    110
463     76
464     36
465     70
466     94
467     54
468     50
469     49
470     67
471    138
472     80
473    158
474    150
475     42
476    190
477     42
478     68
479     54
480     34
481     47
482     65
483     56
484     62
485    107
486     64
487     89
488    109
489     61
490     35
491     55
492     18
493     39
494    135
495     57
496    129
497     86
498     63
499     50
500     43
501     74
502     71
503    113
504     81
505     69
506     97
507    150
508     77
509     24
510     59
511     35
512     79
513     62
514    119
515     90
516     32
517     42
518    116
519    102
520     69
521     86
522    102
523     74
524     40
525     76
526     76
527    108
528    202
529     91
530     80
531     49
532     49
533     21
534     65
535     32
536     39
537     87
538     27
539     36
540    107
541     56
542     25
543     80
544     43
545     44
546     45
547     50
548     60
549    130
550     61
551    100
552     99
553     86
554     37
555     58
556     72
557     56
558     61
559     95
560     53
561    101
562     33
563     44
564     43
565    125
566     44
567     69
568     65
569     67
570     78
571     66
572     37
573     86
574     84
575     50
576     38
577     90
578     92
579     90
580     43
581    100
582     93
583     61
584     42
585    139
586     40
587     84
588     52
589     81
590     97
591     49
592     44
593     75
594     84
595     40
596     68
597     72
598     74
599     57
600    121
601     52
602     81
603     83
604     59
605     60
606     31
607    102
608    136
609    110
610     48
611     71
612     66
613    171
614     92
615     65
616    150
617     21
618     10
619    118
620     82
621     52
622     47
623     49
624     43
625     61
626    113
627    124
628     58
629     52
630     97
631    100
632     58
633     81
634     53
635     61
636     65
637    115
638     71
639     32
640     79
641    120
642     50
643     68
644     48
645     27
646     74
647     68
648     39
649     71
650    107
651     49
652     54
653     61
654     47
655     65
656     87
657     56
658     71
659     62
660     64
661     89
662    109
663     35
664     61
665     55
666     18
667    135
668     39
669     57
670     63
671     50
672     82
673     85
674     72
675     74
676    113
677     69
678     71
679     97
680     81
681    150
682     24
683     35
684     77
685     51
686    101
687     59
688     79
689     79
690     62
691    119
692     81
693    120
694     90
695     63
696     42
697     32
698    116
699    107
700     65
701     69
702    102
703     74
704     40
705     76
706     76
707    108
708    202
709     91
710     80
711     21
712     49
713     49
714     96
715     65
716     59
717     32
718     87
719     27
720     39
721     36
722    107
723     56
724     25
725     80
726     43
727     45
728     50
729     44
730    100
731     61
732     80
733     99
734     37
735     62
736     86
737     58
738     72
739     56
740     95
741     61
Name: min_salary, dtype: int64

In [79]:
df['max_salary'] = min_hr.apply(lambda x:int(x.split('-')[1]))

In [80]:
df['max_salary']

0       91
1      112
2       90
3       97
4      143
5      119
6       93
7      142
8       84
9      160
10     201
11     106
12     172
13      85
14     144
15     190
16     137
17     189
18     175
19     111
20     130
21     119
22     139
23     105
24     177
25     110
26     124
27      61
28     105
29      90
30      97
31     120
32     143
33     149
34     140
35     135
36     132
37     137
38     180
39     138
40     112
41     129
42     175
43     113
44     150
45     160
46     211
47      39
48     117
49      99
50     114
51     143
52      95
53     144
54     139
55      95
56     189
57     176
58      93
59     119
60     132
61     146
62     172
63      85
64     109
65     148
66      99
67      72
68     161
69     130
70      81
71     220
72     102
73     139
74     122
75     157
76     222
77     118
78     137
79     141
80     154
81      76
82     160
83     100
84     114
85      68
86     172
87     142
88     107
89      65
90      62
91     231
92     106
93     134
94      93
95     116
96     123
97     124
98      73
99     164
100    153
101    110
102    110
103    275
104    123
105    129
106     72
107     71
108     85
109    193
110    102
111    144
112    160
113    163
114    140
115    101
116    133
117    125
118    148
119    173
120    124
121    135
122    159
123    105
124     81
125     50
126    133
127     55
128    118
129    102
130    182
131    106
132    112
133    223
134    129
135    123
136    106
137    189
138    145
139    120
140    130
141    115
142    136
143    167
144     85
145    114
146    204
147    125
148    136
149    123
150     78
151    148
152    110
153    134
154    204
155    207
156    174
157    101
158    133
159    211
160    119
161    175
162    140
163    190
164     80
165     24
166    149
167     82
168    185
169    116
170     95
171     72
172    198
173    100
174    182
175    124
176    250
177     34
178    206
179    183
180     78
181    159
182    166
183    182
184     76
185    179
186    123
187    166
188    173
189     93
190    115
191    127
192    179
193    224
194    115
195    220
196     62
197     25
198     66
199    167
200     86
201    127
202     34
203     68
204    113
205    140
206    139
207    112
208    125
209     86
210     25
211     92
212     78
213    134
214    110
215    111
216    120
217    103
218    105
219    204
220    207
221    174
222     62
223    101
224     90
225     64
226    211
227    133
228     76
229    111
230    140
231    110
232    105
233    138
234    190
235    114
236    129
237     80
238    119
239     97
240     16
241    106
242    149
243    199
244    126
245     72
246     24
247     63
248    119
249    117
250    185
251    126
252     82
253    116
254    105
255    177
256    194
257     95
258    133
259    198
260     72
261    182
262    100
263     82
264    135
265    122
266    250
267    132
268    124
269    101
270    206
271     34
272    183
273    112
274     74
275     78
276    159
277    161
278    124
279    120
280    126
281    182
282    176
283    208
284    166
285     76
286     68
287     99
288    173
289    134
290     82
291    179
292    162
293    102
294    166
295     99
296    117
297    150
298    209
299     82
300     90
301    119
302    143
303    149
304    136
305    123
306     89
307     93
308     97
309    119
310    173
311    101
312    115
313    179
314    202
315     57
316    127
317    143
318    194
319     86
320    154
321    148
322     62
323    115
324     92
325    135
326    132
327    140
328    224
329     80
330    220
331    139
332     92
333     71
334    124
335     62
336    200
337     25
338    113
339     66
340     86
341    149
342    196
343    167
344    160
345     39
346     86
347    127
348    175
349    172
350    124
351     68
352    171
353    142
354    306
355     97
356    113
357     34
358    134
359     59
360    158
361    173
362     99
363     28
364    155
365     98
366     78
367     96
368    110
369    119
370    140
371     91
372    114
373    160
374    158
375    210
376     77
377    221
378     86
379    147
380    110
381     66
382     64
383     82
384    110
385    109
386    151
387     81
388    101
389    180
390    134
391    157
392    113
393    139
394    140
395    203
396     85
397    140
398     99
399    150
400    148
401    101
402     55
403    178
404    130
405     85
406    123
407    146
408     29
409     17
410    239
411     91
412    129
413    101
414     76
415     88
416    199
417     93
418    181
419    173
420     96
421     96
422     95
423    176
424    127
425    119
426     97
427    173
428    139
429    289
430    149
431    101
432    115
433    188
434    146
435    106
436     98
437    162
438    120
439    179
440    202
441    127
442     57
443    194
444     86
445    143
446    228
447    134
448    189
449    142
450    154
451    176
452    140
453    127
454     92
455    100
456    140
457    148
458    171
459    179
460    111
461    126
462    184
463    145
464     62
465    118
466    153
467    115
468     92
469     97
470    135
471    224
472    139
473    211
474    180
475     80
476    220
477     77
478    139
479     71
480     92
481     85
482    124
483     95
484    112
485    173
486    108
487    144
488    200
489    113
490     62
491    105
492     25
493     66
494    211
495     80
496    215
497    143
498    127
499     89
500     86
501    149
502    124
503    196
504    167
505    121
506    160
507    238
508    132
509     39
510    112
511     65
512    147
513    119
514    187
515    157
516     62
517     86
518    208
519    172
520    127
521    144
522    165
523    124
524     68
525    142
526    142
527    171
528    306
529    159
530    133
531     97
532    113
533     34
534    134
535     59
536     69
537    158
538     48
539     71
540    173
541     99
542     28
543    155
544     98
545     96
546     78
547    110
548     99
549    206
550    119
551    140
552    178
553    137
554    100
555    111
556    133
557     91
558    126
559    160
560     91
561    158
562     61
563     86
564     77
565    210
566     86
567    119
568    110
569    127
570    147
571    117
572     66
573    143
574    146
575     98
576     64
577    110
578    150
579    153
580     82
581    135
582    151
583    109
584     79
585    221
586    101
587    153
588     81
589    134
590    180
591    113
592     73
593    140
594    157
595     87
596    139
597    142
598    137
599    109
600    203
601     85
602    140
603    148
604    116
605    101
606     55
607    178
608    208
609    130
610     85
611    129
612    123
613    272
614    146
615    126
616    239
617     29
618     17
619    228
620    129
621     91
622    101
623     76
624     88
625    109
626    182
627    199
628    104
629     93
630    181
631    173
632    108
633    161
634     96
635    110
636     96
637    220
638    144
639     57
640    136
641    145
642     89
643    129
644    113
645     47
646    124
647    125
648     67
649    135
650    172
651     85
652     71
653    123
654     85
655    124
656    141
657     95
658    121
659    112
660    108
661    144
662    200
663     62
664    113
665    105
666     25
667    211
668     66
669     80
670    127
671     89
672    132
673    139
674    121
675    149
676    196
677    121
678    124
679    160
680    167
681    238
682     39
683     65
684    132
685     88
686    141
687    112
688    147
689    127
690    119
691    187
692    132
693    140
694    157
695    110
696     86
697     62
698    208
699    173
700    113
701    127
702    172
703    124
704     68
705    142
706    142
707    171
708    306
709    159
710    133
711     34
712     97
713    113
714    161
715    134
716    125
717     59
718    158
719     48
720     69
721     71
722    173
723     99
724     28
725    155
726     98
727     78
728    110
729     96
730    140
731    119
732    142
733    178
734    100
735    113
736    137
737    111
738    133
739     91
740    160
741    126
Name: max_salary, dtype: int64

In [81]:
df['avg_salary'] = (df.min_salary+df.max_salary)/2

In [82]:
#COMPANY NAME TEXT ONLY 
df['company_txt'] = df.apply(lambda x:x['Company Name'] if x['Rating']<0 else x['Company Name'][:-3],axis=1)

In [85]:
#STATE FIELD
df['job_state'] = df['Location'].apply(lambda x:x.split(',')[1])
df.job_state.value_counts()

 CA             151
 MA             103
 NY              72
 VA              41
 IL              40
 MD              35
 PA              33
 TX              28
 WA              21
 NC              21
 NJ              17
 FL              16
 OH              14
 TN              13
 DC              11
 CO              11
 UT              10
 WI              10
 IN              10
 AZ               9
 MO               9
 AL               8
 DE               6
 KY               6
 MI               6
 GA               6
 IA               5
 CT               5
 NE               4
 LA               4
 OR               4
 NM               3
 KS               3
 MN               2
 ID               2
 RI               1
 Los Angeles      1
 SC               1
Name: job_state, dtype: int64

In [87]:
df['same_state'] = df.apply(lambda x:1 if x.Location==x.Headquarters else 0, axis=1)

In [88]:
df['age'] = df.Founded.apply(lambda x:x if x<1 else 2020-x)

PARSING OF JOB DESCRIPTION

In [89]:
df['python_yn'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)

In [92]:
df.python_yn.count()

742

In [93]:
df['R_yn'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() else 0)

In [99]:
df.R_yn.value_counts()

0    741
1      1
Name: R_yn, dtype: int64

In [95]:
df['spark'] = df['Job Description'].apply(lambda x:1 if 'spark' in x.lower() else 0)

In [96]:
df.spark.value_counts()

0    575
1    167
Name: spark, dtype: int64

In [100]:
df['aws'] = df['Job Description'].apply(lambda x:1 if 'aws' in x.lower() else 0)

In [101]:
df.aws.value_counts()

0    566
1    176
Name: aws, dtype: int64

In [102]:
df['excel'] = df['Job Description'].apply(lambda x:1 if 'excel' in x.lower() else 0)

In [104]:
df.excel.value_counts()

1    388
0    354
Name: excel, dtype: int64

In [107]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer_provided', 'min_salary', 'max_salary', 'avg_salary',
       'company_txt', 'job_state', 'same_state', 'age', 'python_yn', 'R_yn',
       'spark', 'aws', 'excel', 'job_simp', 'seniority', 'desc_len',
       'num_comp'],
      dtype='object')

In [111]:
df.to_csv('salary_data_cleaned.csv',index = False)